#container
{
    display: flex;
    flex-direction: column;
}

#container input[type=text]
{
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
}

#divCheckout
{
    text-align: left;
    margin-bottom: 20px;
}

#submit
{
    width: 100px;
   background-color: cornflowerblue;
}